.home {
  display: flex;
  justify-content: center;
}

.projects {
  h3 {
    margin-top: 15px;
    text-align: start;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--text-header);
    width: fit-content;

    &:first-child{
        margin-top: 0;
    }
  }
}

.projectsCards {
  display: flex;
}
