.task {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .task {
    padding: 0% 5%;

    > div {
      width: 95%;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 650px) {
  .task {
    flex-direction: column;
    > div {
      width: 95%;
      margin: 0px;
    }
  }
}

// @media screen and (max-width: 500px) {
//   .task {
//     flex-direction: column;
//     > div {
//       width: 95%;
//     }
//   }
// }
