.button {
  border: none;
  background: none;
  padding: 4px 8px;
  color: var(--colorPrimary);
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.createButton {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
