.button {
  width: 200px;
  height: 100px;
  border: 3px dotted var(--button-outlined-bgColor);
  background: none;
  color: var(--text-header);
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-bgColor);
  }

  &:active {
  }
}
