.card {
  background-color: var(--main-bgColor);
  color: var(--text-header);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.contentModal {
  // min-width: 200px;
  width: 60vw;
  // min-height: 200px;
  height: 60vh;
}

// @media screen and (max-width: 980px) {
//   .contentModal {
//     min-width: 200px;
//     width: 60%;
//     min-height: 200px;
//     height: 500px;
//   }
// }

// @media screen and (max-height: 650px) {
//   .contentModal {
//     height: 60%;
//   }
// }

// @media screen and (max-width: 650px) {
//   .contentModal {
//     // width: 300px;
//   }
// }

// @media screen and (max-height: 250px) {
//   .contentModal {
//     height: 10px;
//     // width: 600px;
//   }
// }
