.card {
  background-color: var(--main-bgColor);
  color: var(--text-header);
  border-radius: 5px;
  padding: 5px 10px;
}

.cardSecondary {
  background-color: var(--secondary-bgColor);
  color: var(--text-header);
  border-radius: 5px;
  padding: 5px 10px;
}
