.modal {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.modalInner {
  // position: absolute;
  display: flex;
  justify-content: center;
  cursor: default;

  background-color: var(--seedBackgroundColor);

  width: max-content;
  height: max-content;

  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.01);
}

.overlay {
  top: 0;
  // left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  cursor: pointer;
}
