.field {
  input {
    height: 20px;
    padding: 12px 8px;

    &:focus {
      outline: none;
    }
  }
}

.fieldName {
  span {
    color: var(--errorColor);
  }
}

.error {
  font-size: 12px;
  color: var(--colorErrorText);
}
