body {
  // margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--main-bgColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  padding: 4px 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 6px;
}


:root[data-theme="light"] {
  --main-bgColor: #f0e7db;
  --header-background: #f4ede4;

  --text-header: #1a202c;
}

:root[data-theme="dark"] {
  --main-bgColor: #202022;
  --header-background: #202022;

  --text-header: #ededed;
}


// заголовки: #ededed
