#modals-root {
  position: static;
  z-index: 2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--mainBackgroundColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--colorText);
}

button {
  background-color: var(--colorPrimary);
  color: var(--colorText);
  font-weight: 500;
  &:hover {
    background-color: var(--colorPrimaryBgHover);
  }

  &:active {
    background-color: var(--colorPrimaryActive);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  padding: 4px 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 6px;
}

//TO DO: to do normal variables
:root[data-theme="light"] {
  //Brand Color
  --brandColor: #319795;

  --colorPrimaryBg: #319795;
  --colorPrimaryBgHover: #283f3d;
  --colorPrimaryBorder: #35534f;
  --colorPrimaryBorderHover: #45736d;
  --colorPrimaryHover: #4fd1c5;
  --colorPrimary: #4fd1c5; //buttons
  --colorPrimaryActive: #5b9d94;
  --colorPrimaryTextHover: #9fdcd2;
  --colorPrimaryText: #71c7bb;
  --colorPrimaryTextActive: #5b9d94;
  //Brand Color

  //Success Color
  --successColor: #52c41a;

  --colorSuccessText: #49aa19;
  //Success Color

  //Warning Color
  --warningColor: #faad14;

  --colorWarningBg: #2b2111;
  --colorWarningText: #d89614;
  --colorWarningTextHover: #e8b339;
  --colorWarningTextActive: #aa7714;
  //Warning Color

  //Error Color
  --errorColor: #ff4d4f;

  --colorErrorBg: #2c1618;
  --colorErrorText: #dc4446;
  --colorErrorTextHover: #e86e6b;
  --colorErrorTextActive: #ad393a;
  //Error Color

  //Info Color
  --infoColor: #805ad5;
  //Info Color

  //Neutral Color
  --seedTextColor: #1a202c;
  --mainBackgroundColor: #f0e7db;
  --seedBackgroundColor: #f6f0e8;

  --colorText: #1a202c;
  --colorTextSecondary: rgba(26, 32, 44, 0.65);
  --colorTextTertiary: rgba(26, 32, 44, 0.45);
  --colorTextQuaternary: rgba(26, 32, 44, 0.25);
  //Neutral Color
}

:root[data-theme="dark"] {
  //Brand Color
  --brandColor: #81e6d9;

  --colorPrimaryBg: #1c2827;
  --colorPrimaryBgHover: #283f3d;
  --colorPrimaryBorder: #35534f;
  --colorPrimaryBorderHover: #45736d;
  --colorPrimaryHover: #4fd1c5;
  --colorPrimary: #4fd1c5; //buttons
  --colorPrimaryActive: #5b9d94;
  --colorPrimaryTextHover: #9fdcd2;
  --colorPrimaryText: #71c7bb;
  --colorPrimaryTextActive: #5b9d94;
  //Brand Color

  //Success Color
  --successColor: #52c41a;

  --colorSuccessText: #49aa19;
  //Success Color

  //Warning Color
  --warningColor: #faad14;

  --colorWarningBg: #2b2111;
  --colorWarningText: #d89614;
  --colorWarningTextHover: #e8b339;
  --colorWarningTextActive: #aa7714;
  //Warning Color

  //Error Color
  --errorColor: #ff4d4f;

  --colorErrorBg: #2c1618;
  --colorErrorText: #dc4446;
  --colorErrorTextHover: #e86e6b;
  --colorErrorTextActive: #ad393a;
  //Error Color

  //Info Color
  --infoColor: #ff63c3;
  //Info Color

  //Neutral Color
  --seedTextColor: #ededed;
  --mainBackgroundColor: #202023;
  --seedBackgroundColor: #323234;

  --colorText: #ededed;
  --colorTextSecondary: rgba(237, 237, 237, 0.65);
  --colorTextTertiary: rgba(237, 237, 237, 0.45);
  --colorTextQuaternary: rgba(237, 237, 237, 0.25);
  //Neutral Color
}
