body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--main-bgColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  padding: 4px 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 6px;
}
//pink: #d555a4
:root[data-theme="light"] {
  --main-bgColor: #f0e7db;
  --secondary-bgColor: #f6f0e8;
  --header-background: #f4ede4;

  --text-header: #1a202c;

  //buttons
  --button-outlined-textColor: none;
  --button-outlined-bgColor: rgb(213, 85, 164);
  --button-outlined-bgColor-hover: #4fd1c5;
  --button-outlined-bgColor-active: #38b2ac;

  --button-textColor: rgb(213, 85, 164);
  --button-bgColor: none;
  --button-bgColor-hover: rgba(79, 209, 196, 0.7);
  --button-bgColor-hover-active: rgba(56, 178, 172, 0.7);
  //buttons


  //modals
  //modals
}

:root[data-theme="dark"] {
  --main-bgColor: #202022;
  --secondary-bgColor: #323234;
  --header-background: rgba(32, 32, 34, 0.5);

  --text-header: #ededed;

  //buttons
  --button-outlined-textColor: none;
  --button-outlined-bgColor: #319795;
  --button-outlined-bgColor-hover: #2c7a7b;
  --button-outlined-bgColor-active: #285e61;

  --button-textColor: #319795;
  --button-bgColor: none;
  --button-bgColor-hover: rgba(44, 122, 123, 0.7);
  --button-bgColor-hover-active: rgba(40, 94, 97, 0.7);
  //buttons
}

// заголовки: #ededed
